script
	document.write('<script src=/static/foundation-4.0.3/js/vendor/'
		+ ('__proto__' in {} ? 'zepto' : 'jquery')
		+ '.js><\/script>');
script(src="/static/foundation-4.0.3/js/foundation.min.js")
script
	$(document).foundation();