head
	title
	script(src="/static/foundation-4.0.3/js/vendor/custom.modernizr.js")
	link(rel='stylesheet', href='/static/foundation-4.0.3/css/foundation.css')
	link(rel='stylesheet', href='/static/foundation-4.0.3/css/normalize.css')
	
