nav.top-bar
	ul.title-area
		li.name
			h1
				a(href="/mrx") MPharma
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu
	section.top-bar-section
		ul.right
			li.divider
			li
				a(href=" ") Pharmacy
			li.divider
			li
				a(href=" ") Patient
			li.divider
			li
				a(href=" ") Physician
			li.divider
			li
				a(href="#", data-reveal-id="logModal") Sign In
			