!!! 5
html
	include mrx/includes/head
	body
		include mrx/includes/nav
		.row
			.large-12.large-centered.columns.text-center 
				h2 MPharma
				h4.subheader The easiest way to find and buy your prescription medication
				hr
		.row
			.large-12.columns
				.row
					.row
						.large-12.columns
							.section-container.tabs(data-section)
								.section
									p.title
										a(href="#panel1") Pharmacy
									.content
										form(action="addPharm/", method="post"){% csrf_token %}
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="name", placeholder="Pharmacy Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="username", placeholder="Last Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="email", placeholder="Email", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="country", placeholder="Country", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="state", placeholder="State/Province", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="city", placeholder="City", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="password", placeholder="Password", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="street", placeholder="Street", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="streetNo", placeholder="Street Number", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="tel", name="tel", placeholder="Telephone Number", style="margin-bottom:1em")
											//- .row.collapse
											//- 												.large-6.columns.large-centered
											//- 													input(type="tel", name="conf_tel", placeholder="Confirm Telephone Number", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input.button.small(type="submit", value="Sign Up!", style="margin-bottom:1em; padding-top:1em; padding-bottom:1em;")
								.section
									p.title
										a(href="#panel2") Patient
									.content
										form(action="addPat/", method="post"){% csrf_token %}
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="first_name", placeholder="First Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="last_name", placeholder="Last Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="username", placeholder="Username", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="email", placeholder="email", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="country", placeholder="Country", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="state", placeholder="State/Province", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="city", placeholder="City", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="password", placeholder="Password", style="margin-bottom:1em")
											//- .row.collapse
											//- 												.large-6.columns.large-centered
											//- 													input(type="text", name="conf_password", placeholder="Confirm Password", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="tel", name="tel", placeholder="Telephone Number", style="margin-bottom:1em")
											//- .row.collapse
											//- 												.large-6.columns.large-centered
											//- 													input(type="tel", name="conf_tel", placeholder="Confirm Telephone Number", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input.button.small(type="submit", value="Sign Up!", style="margin-bottom:1em; padding-top:1em; padding-bottom:1em;")
								.section
									p.title
										a(href="#panel3") Physician
									.content
										form(action="addPhys/", method="post"){% csrf_token %}
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="first_name", placeholder="First Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="last_name", placeholder="Last Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="hosp_name", placeholder="Hospital Name", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="country", placeholder="Country", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="state", placeholder="State/Province", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="city", placeholder="City", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="username", placeholder="Username", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="password", placeholder="Password", style="margin-bottom:1em")
											//- .row.collapse
											//- 												.large-6.columns.large-centered
											//- 													input(type="text", name="conf_password", placeholder="Confirm Password", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input(type="text", name="email", placeholder="Email", style="margin-bottom:1em")
											//- .row.collapse
											//- 												.large-6.columns.large-centered
											//- 													input(type="tel", name="conf_tel", placeholder="Confirm Telephone Number", style="margin-bottom:1em")
											.row.collapse
												.large-6.columns.large-centered
													input.button.small(type="submit", value="Sign Up!", style="margin-bottom:1em; padding-top:1em; padding-bottom:1em;")


		include mrx/includes/founScript.jade
		#logModal.reveal-modal.medium
			h2 Hello, again!
			form(action="portal/", method="post"){% csrf_token %}
				input(type="text", name="log_username", placeholder="Username")
				input(type="text", name="log_password", placeholder="Password")
				input.small.button(type="submit", value="Sign In")
			a.close-reveal-modal1.close-reveal-modal &#215;


